node_modules
test
examples
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
jest.config.js
jest.config.ts
jest.preset.js
eslint.config.mjs
eslint.config.js
e2e
.nx
.prettierignore
.prettierrc
tmp
project.json
nx.json
dist/package.json
src